[submodule "cookbooks/apt"]
	path = vagrant/cookbooks/apt
	url = https://github.com/cookbooks/apt.git
[submodule "cookbooks/git"]
	path = vagrant/cookbooks/git
	url = https://github.com/cookbooks/git.git
[submodule "cookbooks/golang"]
	path = vagrant/cookbooks/golang
	url = https://github.com/michaelklishin/go-language-chef-cookbook
[submodule "cookbooks/mongodb"]
	path = vagrant/cookbooks/mongodb
	url = https://github.com/edelight/chef-mongodb
